
::-webkit-scrollbar {
    width: 0;
}

.App {
    width: 100%;
    max-height: 200%;
    background: #9b5f5f;
}
.header{
    position: absolute;
    z-index: 200;
}

.loginPage {
    position: absolute;
    margin-top: 90px;
    max-width: 200px;
    z-index: 12;
}

.login {

    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background: #ffffff;
}
.loginText{
    font-size: 12px;
}
.testAcc{
    color: #274080;
    font-size: 17px;
}


.tsparticles-canvas-el{
    height: 3000px;
    position: absolute;
    top: 28px;

    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 1;
}

.todolistPage {
    position: absolute;
    z-index: 300;

}