
::-webkit-scrollbar {
    width: 0;
}

.App {
    width: 100%;
    max-height: 200%;
    background: #9b5f5f;
}

.loginPage {
    position: absolute;
    margin-top: 90px;
    width: 300px;
    z-index: 12;
}

.login {

    border: 1px solid white;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background: #f6f4f4;
}

.particles {
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
}

.todolistPage {
    position: absolute;
    z-index: 300;

}